@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 28px;
  color: #a08679; /* Beige */
  font-family: 'Lobster', cursive;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #a08679; /* Beige */
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #DA70D6; /* Tan */
}
